NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://rocklandrowanm_db_user:<db_password>@cluster0.kurfy4f.mongodb.net/hiresmart?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=7d
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
CLIENT_URL=https://hire-smart-sandy.vercel.app
SERVER_URL=https://hiresmart-4jfl.onrender.com
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret
